html, body, #root, .App {
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
}

.blue-bg {
  background-color: rgb(17, 50, 112);
}

.red-bg {
  background-color: rgb(196, 29, 29);
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: black;
}

.white-fg {
  color: white;
}

.black-fg {
  color: black;
}

.purple-bg {
  background-color: rgb(76, 13, 134);
}

.pink-bg {
  background-color: rgb(245, 11, 206);
}

.dark-blue-bg {
  background-color: rgb(18, 59, 94);
}

.bright-red-bg {
  background-color: red;
}

.grey-bg {
  background-color: rgb(44, 44, 44);
}

.orange-bg {
  background-color: rgb(252, 127, 10);
}

.off-white-fg {
  color: #fcf5e8; 
}

.pastel-purple-bg {
  background-color: #b698d1;
}

.pastel-blue-bg {
  background-color: #c2d4e8;
}

