.bingo-form {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100vh;
}

.bingo-square {
    flex-basis: 20%;
    background-color: rgb(17, 50, 112);
    text-align: center;
    outline: 2px inset white;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8vw;
    color: white;
}

.selected {
    background-color: rgb(196, 29, 29);
    color: white;
}
